{"openapi":"3.0.1","info":{"title":"TU RUC - API REST","description":"Documentación técnica de la API de Tu Ruc para desarrolladores.","termsOfService":"https://swagger.io/about/","license":{"name":"Apache 2.0","url":"https://springdoc.org/"}},"servers":[{"url":"https://turuc.com.py"}],"paths":{"/api/contribuyente":{"get":{"tags":["API de contribuyentes"],"summary":"Obtener un contribuyente a partir de su RUC o documento por parámetro.","description":"Obtiene el contribuyente asociado al RUC o documento proveído.","operationId":"getContribuyenteWithParam","parameters":[{"name":"ruc","in":"query","description":"RUC o documento del contribuyente deseado.","required":true,"schema":{"type":"string"},"examples":{"RUC":{"description":"RUC","value":"123456-7"},"Nro. de documento":{"description":"Nro. de documento","value":123456}}}],"responses":{"200":{"description":"Contribuyente encontrado satisfactoriamente.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContribuyenteResponse"}}}},"400":{"description":"Se recibió un parámetro inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"500":{"description":"Error interno, favor reportar a soporte.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/contribuyente/{ruc}":{"get":{"tags":["API de contribuyentes"],"summary":"Obtener un contribuyente a partir de su RUC o documento por variable en la URL.","description":"Obtiene el contribuyente asociado al RUC o documento proveído.","operationId":"getContribuyenteWithPath","parameters":[{"name":"ruc","in":"path","description":"RUC o documento del contribuyente deseado.","required":true,"schema":{"type":"string"},"examples":{"RUC":{"description":"RUC","value":"123456-7"},"Nro. de documento":{"description":"Nro. de documento","value":123456}}}],"responses":{"200":{"description":"Contribuyente encontrado satisfactoriamente.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContribuyenteResponse"}}}},"400":{"description":"Se recibió un parámetro inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"500":{"description":"Error interno, favor reportar a soporte.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/contribuyente/table":{"get":{"tags":["API de contribuyentes"],"summary":"Obtener un listado de contribuyentes en formato de datatable.","description":"Obtiene una lista de contribuyentes y la cantidad de contribuyentes filtrados. Formato habitual de datatable.","operationId":"searchContribuyentesTable","parameters":[{"name":"draw","in":"query","description":"Valor constante. Se retornará el mismo valor recibido","required":true,"schema":{"type":"integer","format":"int32"},"example":2},{"name":"start","in":"query","description":"Tamaño del salto.","required":true,"schema":{"type":"integer","format":"int32"},"example":25},{"name":"length","in":"query","description":"Longitud de la lista de contribuyentes. Como máximo 20.","required":true,"schema":{"type":"integer","format":"int32"},"example":15},{"name":"search","in":"query","description":"Nombre, RUC o documento de los contribuyentes deseados. Entre 3 y 50 carácteres.","required":true,"schema":{"type":"string"},"examples":{"RUC":{"description":"RUC","value":"123456-7"},"Razón social":{"description":"Razón social","value":"Juan Perez"},"Nro. de documento":{"description":"Nro. de documento","value":123456}}}],"responses":{"200":{"description":"Contribuyentes encontrados satisfactoriamente.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataTableFormatResponse"}}}},"400":{"description":"Se recibió un parámetro inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"500":{"description":"Error interno, favor reportar a soporte.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/contribuyente/search":{"get":{"tags":["API de contribuyentes"],"summary":"Obtener un listado de contribuyentes y el número de páginas.","description":"Obtiene una lista de contribuyentes y el número de páginas de contribuyentes que estén relacionados al parámetro de búsqueda.","operationId":"searchContribuyentesSimple","parameters":[{"name":"search","in":"query","description":"Nombre, RUC o documento de los contribuyentes deseados. Entre 3 y 50 carácteres.","required":true,"schema":{"maxLength":50,"minLength":3,"type":"string"},"examples":{"RUC":{"description":"RUC","value":"123456-7"},"Razón social":{"description":"Razón social","value":"Juan Perez"},"Nro. de documento":{"description":"Nro. de documento","value":123456}}},{"name":"page","in":"query","description":"Número de página.","required":true,"schema":{"type":"integer","format":"int32"},"examples":{"Segunda página":{"description":"Segunda página","value":2},"Primera página":{"description":"Primera página","value":0}}}],"responses":{"200":{"description":"Contribuyentes encontrados satisfactoriamente.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchContribuyentesResponse"}}}},"400":{"description":"Se recibió un parámetro inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"500":{"description":"Error interno, favor reportar a soporte.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/contribuyente/persona-juridica":{"get":{"tags":["API de contribuyentes"],"summary":"Obtener una persona jurídica a partir de su RUC o documento por parámetro.","description":"Obtiene el persona jurídica asociado al RUC o documento proveído.","operationId":"searchContribuyentesPersonaJuridica","parameters":[{"name":"ruc","in":"query","description":"RUC o documento de la persona jurídica deseada. Entre 3 y 50 carácteres.","required":true,"schema":{"maxLength":50,"minLength":3,"type":"string"},"examples":{"RUC":{"description":"RUC","value":"80024191-6"},"Nro. de documento":{"description":"Nro. de documento","value":80024191}}}],"responses":{"200":{"description":"Persona jurídica encontrado satisfactoriamente.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonaJuridicaResponse"}}}},"400":{"description":"Se recibió un parámetro inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"500":{"description":"Error interno, favor reportar a soporte.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/contribuyente/entidad-publica":{"get":{"tags":["API de contribuyentes"],"summary":"Obtener una entidad pública a partir de su RUC o documento por parámetro.","description":"Obtiene el entidad pública asociado al RUC o documento proveído.","operationId":"searchContribuyentesEntidadPublica","parameters":[{"name":"ruc","in":"query","description":"RUC o documento de la entidad pública deseada. Entre 3 y 50 carácteres.","required":true,"schema":{"maxLength":50,"minLength":3,"type":"string"},"examples":{"RUC":{"description":"RUC","value":"80024191-6"},"Nro. de documento":{"description":"Nro. de documento","value":80024191}}}],"responses":{"200":{"description":"Entidad pública encontrado satisfactoriamente.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntidadPublicaResponse"}}}},"400":{"description":"Se recibió un parámetro inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"500":{"description":"Error interno, favor reportar a soporte.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}}},"components":{"schemas":{"ContribuyenteDTO":{"type":"object","properties":{"doc":{"type":"integer","description":"Número de documento","format":"int32","example":123456},"razonSocial":{"type":"string","description":"Razón social","example":"Juan Perez"},"dv":{"type":"integer","description":"Divisor del RUC","format":"int32","example":7},"ruc":{"type":"string","description":"RUC completo","example":"123456-7"},"estado":{"type":"string","description":"Indica el estado del RUC","example":"ACTIVO"},"esPersonaJuridica":{"type":"boolean","description":"Indica si el contribuyente es persona jurídica","example":false},"esEntidadPublica":{"type":"boolean","description":"Indica si el contribuyente es entidad pública","example":false}},"description":"Listado de contribuyentes filtrados."},"ContribuyenteResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ContribuyenteDTO"},"message":{"type":"string"}}},"GenericResponse":{"type":"object","properties":{"data":{"type":"object"},"message":{"type":"string"}}},"DataTableFormatResponse":{"type":"object","properties":{"draw":{"type":"integer","description":"Indica si se pudo obtener un listado","format":"int32","example":2},"recordsTotal":{"type":"integer","description":"Indica el número de contribuyentes filtrados","format":"int64","example":1200},"recordsFiltered":{"type":"integer","description":"Indica el número de contribuyentes filtrados","format":"int64","example":1200},"data":{"type":"array","description":"Lista de contribuyentes filtrados.","items":{"$ref":"#/components/schemas/ContribuyenteDTO"}}}},"SearchContribuyentesResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SearchResponse"},"message":{"type":"string"}}},"SearchResponse":{"type":"object","properties":{"contribuyentes":{"type":"array","description":"Listado de contribuyentes filtrados.","items":{"$ref":"#/components/schemas/ContribuyenteDTO"}},"paginas":{"type":"integer","description":"Número de paginas.","format":"int32","example":10}}},"PersonaJuridicaDTO":{"type":"object","properties":{"razonSocial":{"type":"string","description":"Razón social","example":"Empresa S.A."},"ruc":{"type":"integer","description":"RUC completo","format":"int64"},"dv":{"type":"integer","description":"Divisor del RUC","format":"int32","example":7},"estado":{"type":"string","description":"Indica el estado del RUC","example":"ACTIVO"},"categoria":{"type":"string","description":"Categoría de la persona jurídica","example":"MEDIANO"}}},"PersonaJuridicaResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PersonaJuridicaDTO"},"message":{"type":"string"}}},"EntidadPublicaDTO":{"type":"object","properties":{"razonSocial":{"type":"string","description":"Razón social","example":"EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY SA (ESSAP SA)"},"ruc":{"type":"integer","description":"RUC sin divisor","format":"int64","example":80024191},"dv":{"type":"integer","description":"Divisor del RUC","format":"int32","example":6},"nivel":{"type":"integer","description":"Nivel de la entidad pública","format":"int32","example":40},"estado":{"type":"string","description":"Indica el estado del RUC","example":"ACTIVO"},"descripcionNivel":{"type":"string","description":"Descripción del nivel","example":"Sociedades Anónimas Con Part. Accionaria May. Del Estado"},"codigoEntidad":{"type":"string","description":"Código de la entidad","example":"2"},"paginaWeb":{"type":"string","description":"Página web de la entidad","example":"www.essap.com.py"},"correo":{"type":"string","description":"Correo electrónico de la entidad","example":"info@essap.gov.py"},"direccion":{"type":"string","description":"Dirección de la entidad","example":"José Berges 516 E/ San José Y Brasil"},"telefono":{"type":"string","description":"Telefono de la entidad","example":"0800110888"},"sigla":{"type":"string","description":"Sigla que representa a la entidad","example":"ESSAP"},"anho":{"type":"integer","description":"Año","format":"int32","example":2024}}},"EntidadPublicaResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EntidadPublicaDTO"},"message":{"type":"string"}}}}}}